<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.order.mapper.OrderInfoMapper">

    <resultMap id="orderInfoMap" type="com.atguigu.spzx.model.entity.order.OrderInfo" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,user_id,nick_name,order_no,coupon_id,total_amount,coupon_amount,original_total_amount,feight_fee,pay_type,order_status,receiver_name,receiver_phone,receiver_tag_name,receiver_province,receiver_city,receiver_district,receiver_address,payment_time,delivery_time,receive_time,remark,cancel_time,cancel_reason,create_time,update_time,is_deleted
    </sql>

    <update id="updateById">
        update order_info set
        <if test="userId != null and userId != ''">
            user_id = #{userId},
        </if>
        <if test="nickName != null and nickName != ''">
            nick_name = #{nickName},
        </if>
        <if test="orderNo != null and orderNo != ''">
            order_no = #{orderNo},
        </if>
        <if test="couponId != null and couponId != ''">
            coupon_id = #{couponId},
        </if>
        <if test="totalAmount != null and totalAmount != ''">
            total_amount = #{totalAmount},
        </if>
        <if test="couponAmount != null and couponAmount != ''">
            coupon_amount = #{couponAmount},
        </if>
        <if test="originalTotalAmount != null and originalTotalAmount != ''">
            original_total_amount = #{originalTotalAmount},
        </if>
        <if test="feightFee != null and feightFee != ''">
            feight_fee = #{feightFee},
        </if>
        <if test="payType != null">
            pay_type = #{payType},
        </if>
        <if test="orderStatus != null">
            order_status = #{orderStatus},
        </if>
        <if test="receiverName != null and receiverName != ''">
            receiver_name = #{receiverName},
        </if>
        <if test="receiverPhone != null and receiverPhone != ''">
            receiver_phone = #{receiverPhone},
        </if>
        <if test="receiverTagName != null and receiverTagName != ''">
            receiver_tag_name = #{receiverTagName},
        </if>
        <if test="receiverProvince != null and receiverProvince != ''">
            receiver_province = #{receiverProvince},
        </if>
        <if test="receiverCity != null and receiverCity != ''">
            receiver_city = #{receiverCity},
        </if>
        <if test="receiverDistrict != null and receiverDistrict != ''">
            receiver_district = #{receiverDistrict},
        </if>
        <if test="receiverAddress != null and receiverAddress != ''">
            receiver_address = #{receiverAddress},
        </if>
        <if test="paymentTime != null">
            payment_time = #{paymentTime},
        </if>
        <if test="deliveryTime != null">
            delivery_time = #{deliveryTime},
        </if>
        <if test="receiveTime != null">
            receive_time = #{receiveTime},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        <if test="cancelTime != null and cancelTime != ''">
            cancel_time = #{cancelTime},
        </if>
        <if test="cancelReason != null and cancelReason != ''">
            cancel_reason = #{cancelReason},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>

    <!--//远程调用：根据订单编号获取订单信息-->
    <select id="getOrderInfoByOrderNo" resultMap="orderInfoMap">
        select <include refid="columns"/>
        from order_info
        where order_no=#{orderNo}
    </select>

    <!--//根据userId 和 订单状态查询-->
    <select id="findUserPage" resultMap="orderInfoMap">
        select <include refid="columns"/>
        from order_info
        <where>
            <if test="orderStatus != null">
                and order_status=#{orderStatus}
            </if>
            and user_id=#{userId}
            and is_deleted=0
        </where>
        order by id desc
    </select>

    <!--//获取订单信息-->
    <select id="getById" resultType="com.atguigu.spzx.model.entity.order.OrderInfo">
        select *
        from order_info
        where id=#{orderId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into order_info (
            id,
            user_id,
            nick_name,
            order_no,
            coupon_id,
            total_amount,
            coupon_amount,
            original_total_amount,
            feight_fee,
            pay_type,
            order_status,
            receiver_name,
            receiver_phone,
            receiver_tag_name,
            receiver_province,
            receiver_city,
            receiver_district,
            receiver_address,
            payment_time,
            delivery_time,
            receive_time,
            remark,
            cancel_time,
            cancel_reason
        ) values (
                     #{id},
                     #{userId},
                     #{nickName},
                     #{orderNo},
                     #{couponId},
                     #{totalAmount},
                     #{couponAmount},
                     #{originalTotalAmount},
                     #{feightFee},
                     #{payType},
                     #{orderStatus},
                     #{receiverName},
                     #{receiverPhone},
                     #{receiverTagName},
                     #{receiverProvince},
                     #{receiverCity},
                     #{receiverDistrict},
                     #{receiverAddress},
                     #{paymentTime},
                     #{deliveryTime},
                     #{receiveTime},
                     #{remark},
                     #{cancelTime},
                     #{cancelReason}
                 )
    </insert>
</mapper>