<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysRoleUserMapper">

    <!--//根据userId查询用户分配过角色id列表-->
    <select id="selectRoleIdsByUserId" resultType="long">
        select role_id from sys_user_role where user_id=#{userId}
    </select>

    <!--//1 根据userId删除用户之前分配角色数据-->
    <delete id="deleteByUserId">
        delete from sys_user_role where user_id=#{userId}
    </delete>

    <!--//2 重新分配新数据-->
    <insert id="doAssign">
        insert into sys_user_role(user_id , role_id , create_time , update_time , is_deleted)
        values ( #{userId} , #{roleId} , now() , now() , 0)
    </insert>
</mapper>